a{font-family: Arial, Helvetica, sans-serif; color:rgb(224, 33, 129);}
a:visited{color:blue;text-decoration:limegreen}
body{background-color: azure;}
h2{color:deeppink;font-size: 20px;}
p{font-size: 18px;}
